<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!test">
        <!-- 콘솔 출력용 Appender 추가 -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %message%n</pattern>
            </encoder>
        </appender>

        <!-- Loki 출력용 Appender -->
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://localhost:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=board-backend,level=%level</pattern>
                    <readMarkers>true</readMarkers>
                </label>
                <message>
                    <pattern>
                        {
                        "level":"%level",
                        "class":"%logger{36}",
                        "thread":"%thread",
                        "message": "%message",
                        "requestId": "%X{X-Request-ID}"
                        }
                    </pattern>
                </message>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>
</configuration>
